body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Bradley Hand ITC", "Arial", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #FF9900;
  background-color: #663366;
  <script type="text/javascript" src="/kar_3.js"></script>
	<script type="text/javascript">
	snowStorm.flakesMax = 256;
	snowStorm.flakesMaxActive = 128;
	snowStorm.snowCharacter = '*';
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1, h2, strong {
  color: #FF9900;
}